include CMakeLists.txt
include LICENSE
include pyproject.toml
include setup.py
include sort/__init__.py
include sort/include/kalman_filter.h
include sort/include/matrix.cpp
include sort/include/matrix.h
include sort/include/munkres.h
include sort/include/track.h
include sort/include/tracker.h
include sort/include/utils.h
include sort/src/Py_SORT.cpp
include sort/src/kalman_filter.cpp
include sort/src/munkres.cpp
include sort/src/track.cpp
include sort/src/tracker.cpp
exclude MANIFEST.in